*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    background-color: white;
    padding: 20px 80px;
}
/* /body */


/* header */
header{
    background-color: #e579e6;
    height: 100px; /*questa altezza verrà eliminata successivamente */
    margin-bottom: 30px;
} 
/* /header */



/* main */
main::after{
    content: '';
    display: table;
    clear: both;
}

.main-top{
    background-color: #e1d67a;
    height: 400px; /*questa altezza verrà eliminata successivamente */
}






/* /main */

